.ban-image {
  width: 70px;
  height: 70px;
  opacity: 0;
  transform: translateY(-20px);
  animation: slideFadeIn 0.5s forwards;
}

@keyframes slideFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blinkOpacity {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.glow-left::before{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #1d4380;
  background: linear-gradient(0deg, rgba(29, 67, 128, 1) 25%, rgba(237, 83, 83, 0) 75%);
  animation: blinkOpacity 2s infinite ease-in-out;
}

.glow-right::before{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #bd0d13;
background: linear-gradient(0deg, rgba(189, 13, 19, 1) 25%, rgba(237, 83, 83, 0) 75%);
  animation: blinkOpacity 2s infinite ease-in-out;
}